/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
  font-weight: 300 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: block;
}

@layer base {
  html {
    font-family: 'Satoshi', sans-serif;
  }
  a {
    @apply focus:outline-none focus:ring-2 focus:ring-gray-300;
  }
}

@layer components {
  .button {
    @apply rounded-lg bg-white px-4 py-2;
    @apply active:bg-gray-200;
  }

  .checkbox {
    @apply border-2 border-gray-400 text-black focus:ring-black;
  }
}
